aiohttp
aiosignal
async-timeout
attrs
certifi
charset-normalizer
colorama
decorator
ffmpeg
ffmpeg-python
frozenlist
futur
idna
imageio
imageio-ffmpeg
moviepy
multidict
numpy
pillow
proglog
pydub
pyTelegramBotAPI
python-dotenv
pytube
pytubefix
requests
tqdm
urllib3
yarl